body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  flex-direction: column;
}
.user-profile-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: brown;
  color: #ffffff;
  font-size: 30px;
  border-radius: 50%;
  font-weight: 800;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li {
  margin-right: 2rem;
  cursor: pointer;
}

.features-main {
  padding: 0px 60px;
}

.measure-activity {
  margin-right: 2rem;
}

.stopwatch-time {
  text-align: center;
  color: black;
  font-size: 80px;
  margin-top: 0;
}

.stopwatch-buttons {
  display: flex;
  justify-content: center;
}

.stopwatch-buttons button {
  margin: 20px;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  background-color: green;
  color: #ffffff;
}

.stopwatch-button:hover {
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter {
  background-color: red;
  border-radius: 50px;
  width: 24px;
  text-align: center;
  color: white;
  font-size: 16px;
}
